footer {
	height: $footer-h;
	width: 100%;
	background-color: $lt-black;

	p {
		padding-top: 50px;
		color: $white
	}
}

@media(min-width: $sm) {
	footer {
		ul {
			float: left;
			padding-top: 80px;
		}

		.footer-middle {
			padding-top: 75px;
			padding-bottom: 0;
			p {
				float: right;
				text-align: right;
			}
		}
	}
}